networks:
    auth:

volumes:
    db:

services:
    app:
        build:
            context: ./nginx
            dockerfile: Dockerfile
        container_name: ${APP_NAME}_app
        ports:
            - "${APP_PORT}:80"
        volumes:
            - "${CODE_DIR}:${APP_DIR}"
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            db:
                condition: service_healthy
        networks:
            - ${NETWORK}
    
    db:
        image: mysql:9.4
        container_name: ${APP_NAME}_db
        platform: linux/x86_64
        restart: unless-stopped
        tty: true
        environment:
            MYSQL_DATABASE: '${MYSQL_DATABASE}'
            MYSQL_USER: '${MYSQL_USER}'
            MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
            MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
            SERVICE_TAGS: '${SERVICE_TAGS}'
            SERVICE_NAME: '${SERVICE_NAME}'
            MYSQL_ROOT_HOST: '%'
        command:
            - "--character-set-server=utf8mb4"
            - "--collation-server=utf8mb4_slovenian_ci"
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s
        volumes:
            - db:/var/lib/mysql
        networks:
            - ${NETWORK}

    phpmyadmin:
        image: phpmyadmin:5.2
        container_name: ${APP_NAME}_phpmyadmin
        networks:
            - ${NETWORK}
        environment:
            MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
            MYSQL_USER: '${MYSQL_USER}'
            MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
            PMA_PORT: 3306
        depends_on:
            db:
                condition: service_healthy
        ports:
            - "${PHPMYADMIN_PORT}:80"
    
    php:
        build:
            context: ./php
            dockerfile: Dockerfile
            args:
                - workdir=${APP_DIR}
        container_name: ${APP_NAME}_php
        environment:
            - TIMEZONE=${TIMEZONE}
        volumes:
            - ${CODE_DIR}:${APP_DIR}
        networks:
            - ${NETWORK}

    artisan:
        build:
            context: ./php
            dockerfile: Dockerfile
            args:
                - workdir=${APP_DIR}
        container_name: ${APP_NAME}_artisan
        volumes:
            - ${CODE_DIR}:${APP_DIR}
        working_dir: ${APP_DIR}
        entrypoint: ['php', '${APP_DIR}/artisan']
        networks:
            - ${NETWORK}