networks:
    auth:

volumes:
  auth_node_modules_cache:

services:
    app:
        build: ./angular
        container_name: ${APP_NAME}_app
        ports:
         - '${APP_PORT}:4200'
        volumes:
            - '${CODE_DIR}:${APP_DIR}'
            - 'auth_node_modules_cache:${APP_DIR}/node_modules'
        environment:
          - STYLE=css
        networks:
            - ${NETWORK}
    npm:
        build:
            context: ./npm
            dockerfile: Dockerfile
            args:
                - workdir=${APP_DIR}
        container_name: ${APP_NAME}_npm
        volumes:
            - ${CODE_DIR}:${APP_DIR}
            - 'auth_node_modules_cache:${APP_DIR}/node_modules'
        entrypoint: ['npm']

# docker compose run --rm app ng new auth --routing=true --standalone=false --strict=true --style=scss
# docker compose run --rm app /bin/sh -c "mv auth/* ."
# docker compose run --rm app /bin/sh -c "mv auth/.* ."
# docker compose run --rm app /bin/sh -c "rm -rf auth"
# docker compose run --rm app ng serve --host 0.0.0.0 --port 4200


