networks:
  keycloak:

volumes:
  db:

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    environment:
      KC_DB: mysql
      KC_DB_URL: jdbc:mysql://db:3306/keycloak
      KC_DB_USERNAME: ${MYSQL_USER}
      KC_DB_PASSWORD: ${MYSQL_PASSWORD}
      KEYCLOAK_ADMIN: "${KEYCLOAK_ADMIN}"
      KEYCLOAK_ADMIN_PASSWORD: "${KEYCLOAK_ADMIN_PASSWORD}"
      KC_HEALTH_ENABLED: "${KC_HEALTH_ENABLED}"
      KC_LOG_LEVEL: "${KC_LOG_LEVEL}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7080/health/ready"]
      interval: 15s
      timeout: 2s
      retries: 15
    command: ["start-dev", "--http-port", "7080", "--https-port", "7443"]
    ports:
      - "7080:7080"
      - "7443:7443"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - ${NETWORK}

  db:
    image: mysql:9.4
    container_name: ${APP_NAME}_db
    platform: linux/x86_64
    restart: no
    environment:
      MYSQL_DATABASE: '${MYSQL_DATABASE}'
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
      SERVICE_TAGS: '${SERVICE_TAGS}'
      SERVICE_NAME: '${SERVICE_NAME}'
      MYSQL_ROOT_HOST: '%'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    volumes:
      - db:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - ${NETWORK}

  phpmyadmin:
    image: phpmyadmin:5.2
    container_name: ${APP_NAME}_phpmyadmin
    networks:
      - ${NETWORK}
    environment:
      MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
      MYSQL_USER: '${MYSQL_USER}'
      MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
      PMA_PORT: 3306
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "${PHPMYADMIN_PORT}:80"