# DEFINE ENVIRONMENT PARAMETERS FOR GITLAB

APP_NAME=gitlab
NETWORK=gitlab

# PORTS
APP_PORT=9060
SSH_PORT=9062

# GITLAB
GITLAB_EXTERNAL_URL=http://localhost:9060
GITLAB_ROOT_PASSWORD=<GITLAB ROOT PASSWORD>

TZ=UTC
