# Za vsako okolje posebej določi naslednje vrednosti.
# Porti sledijo bazi 10100 (10 tisoč za princess projekt):
#   - 10100 je frontend app
# POMEMBNO: ko določite parameter NETWORK, morate obvezno to isto ime omrežja
# vnesti v docker-compose.yml

APP_NAME=princess_frontend
APP_PORT=10100
NETWORK=princess

APP_DIR=/var/www/html
CODE_DIR=<INSERT FULL PATH TO LOCAL SOURCE CODE, ex. /Users/username/Documents/projects/src/princess_frontend>

CHROME_BIN=/usr/bin/chromium
