networks:
    nutrients:

volumes:
    db:
    zincdb:

services:
    app:
        build:
            context: ./nginx
            dockerfile: Dockerfile
        container_name: ${APP_NAME}_app
        ports:
            - "${APP_PORT}:80"
        volumes:
            - "${CODE_DIR}:${APP_DIR}"
            - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
            - db
        networks:
            - ${NETWORK}
    
    db:
        image: mysql:9.4
        container_name: ${APP_NAME}_db
        platform: linux/x86_64
        restart: unless-stopped
        tty: true
#        ports:
#            - "${DB_PORT}:3306"
        environment:
            MYSQL_DATABASE: '${MYSQL_DATABASE}'
            MYSQL_USER: '${MYSQL_USER}'
            MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
            MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
            SERVICE_TAGS: '${SERVICE_TAGS}'
            SERVICE_NAME: '${SERVICE_NAME}'
            MYSQL_ROOT_HOST: '%'
        command: ['mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_slovenian_ci']
        volumes:
            - db:/var/lib/mysql
        networks:
            - ${NETWORK}

    phpmyadmin:
        image: phpmyadmin:5.2
        container_name: ${APP_NAME}_phpmyadmin
        networks:
            - ${NETWORK}
        environment:
            MYSQL_ROOT_PASSWORD: '${MYSQL_ROOT_PASSWORD}'
            MYSQL_USER: '${MYSQL_USER}'
            MYSQL_PASSWORD: '${MYSQL_PASSWORD}'
            # PMA_PORT: '${DB_PORT}'
            PMA_PORT: 3306
        ports:
            - "${PHPMYADMIN_PORT}:80"
    
    php:
        build:
            context: ./php
            dockerfile: Dockerfile
            args:
                - workdir=${APP_DIR}
        container_name: ${APP_NAME}_php
        environment:
            - TIMEZONE=${TIMEZONE}
        volumes:
            - ${CODE_DIR}:${APP_DIR}
#        ports:
#            - "${PHP_PORT}:9000"
        networks:
            - ${NETWORK}

    artisan:
        build:
            context: ./php
            dockerfile: Dockerfile
            args:
                - workdir=${APP_DIR}
        container_name: ${APP_NAME}_artisan
        volumes:
            - ${CODE_DIR}:${APP_DIR}
        depends_on:
            - db
        working_dir: ${APP_DIR}
        entrypoint: ['php', '${APP_DIR}/artisan']
        networks:
            - ${NETWORK}
    zincdb:
        image: public.ecr.aws/zinclabs/zincsearch:latest
        container_name: ${APP_NAME}_zincdb
        environment:
            ZINC_DATA_PATH: ${ZINC_DATA_PATH}
            ZINC_FIRST_ADMIN_USER: ${ZINC_FIRST_ADMIN_USER}
            ZINC_FIRST_ADMIN_PASSWORD: ${ZINC_FIRST_ADMIN_PASSWORD}
        ports:
            - "${ZINC_PORT}:4080"
        volumes:
            - zincdb:${ZINC_DATA_PATH}
        networks:
            - ${NETWORK}